.button {
  color: white;
  border-width: 0;
}

.button:hover {
  cursor: pointer;
}

.deactivated{
  background-color: #929292;
}

.items {
  background-color: blue;
}

.items:hover {
  background-color: #6400ff;
}

.trinkets {
  background-color: green;
}

.trinkets:hover {
  background-color: #02a502;
}