.button {
  color: white;
  border-width: 0;
}

.button:hover {
  cursor: pointer;
}

.deactivated{
  background-color: #929292;
}

#ItemsButton {
  background-color: blue;
}

#ItemsButton:hover {
  background-color: #6400ff;
}

#TrinketsButton {
  background-color: green;
}

#TrinketsButton:hover {
  background-color: #02a502;
}