.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  animation: myAnimation 0.2s;
  background-color: rgb(95, 95, 95);
  color: #fff;
  margin: 10% auto;
  padding: 1%;
  width: 20rem;
  text-align: center;
  border: 0px solid black;
  border-radius: 6px;
}

@keyframes myAnimation {
  from {
    margin: -15% auto;
  }
  to {
    margin: 10% auto;
  }
}

.name {
  font-size: 21px;
  margin-bottom: 0;
}

.subname {
  font-size: 14px;
  font-weight: 100;
  margin-top: 0;
}

.description {
  font-size: 14px;
  text-align: left;
}
