img {
  height: 96px;
  width: 96px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 96px);
}

.center {
  display: flex;
  justify-content: center;
}

.searchBar {
  position: sticky;
  top: 0;
}

.content {
  padding: 2rem;
}
